<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="member">
	<!-- 회원목록 불러오기 -->
	<select id="memberList" resultType="com.example.dto.MemberDTO">
		select userid, passwd, name, email, regdate from member2 order by userid desc
	</select>
	<!-- 회원정보 상세보기 -->
	<select id="memberRead" resultType="memberDto">
		select userid, passwd, content, content, name, email, regdate from member2 
		where userid=#{userid}
	</select>
	<!-- 회원가입 -->
	<insert id="memberJoin">
		insert into member2(userid, passwd, name, email, regdate) values 
		(#{userid}, #{passwd}, #{name}, #{email}, sysdate)
	</insert>
	<!-- 회원정보 수정하기 -->
	<update id="memberUpdate">
		update member2 set passwd=${passwd}, name=${name}, email=sysdate 
		email=#{email} where userid=${userid}
	</update>
	<!-- 회원 삭제하기 -->
	<delete id="memberDelete">
		delete from member2 where userid=${userid}
	</delete>
	<!-- 전체 회원 수 -->
	<select id="countMember" resultType="int">
		select count(*) from member2
	</select>
	<!-- 회원 로그인  -->
	<select id="loginMember" resultType="memberDto">
        select * from member2 where userid=#{userid} and passwd=#{passwd}
    </select>
</mapper>